@{
    ViewData["Title"] = "Home Page";
}

<!-- Main title page -->
<div style="min-height: 100%">

    <!-- Project Title -->
    <div class="row">
        <h1><b>Project-02</b></h1>
    </div>

    <!-- Menu to choose between training and prediction -->
    <div class="row">

        <div class="col-md-6">
            <a class="btn" asp-action="TrainModel" asp-controller="ML">TrainModel</a>
        </div>

        <div class="col-md-6">
            <a class="btn" asp-action="PredictSpending" asp-controller="ML">PredictSpending</a>
        </div>
    </div>

</div>