
@{
    ViewData["Title"] = "PredictSpending";
}

<div>
    <div class="row">
        <h2>Mistplay Spending Prediction</h2>
    </div>

    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-action="ProcessData" asp-controller="ML">
            <div>
                <p>Upload one or more files using this form:</p>
                <input type="file" name="file1" />
                <input type="file" name="file2" />
                <input type="file" name="file3" />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</div>


